<div class="content px-3">
    {{>navigation}}

          <div class="container my-3 py-2 px-3 mx-0 bg-white rounded" id="address-bar">
          <div class="row">
            <div class="col-sm-9 d-flex flex-row align-items-center">
              <!-- <a href="/project/list" class="mx-2 project-name">My Business Project</a>

                            <i class="bi bi-chevron-right"></i> -->

              <span class="mx-2 address-component">Releases</span>
            </div>

            <div class="col-sm-3 d-flex justify-content-between">
              <div class="btn-add-release">
                <button
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#releaseDialog"
                >
                  <i class="bi bi-plus"></i> Add release
                </button>
              </div>
              <form action="" class="needs-validation" novalidate>
                <div class="modal fade" id="releaseDialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h6 class="modal-title" id="exampleModalLabel">Add Release</h6>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3 d-flex">
                                <label
                                  for="form-test-plan-name"
                                  class="form-label d-flex justify-content-between me-5"
                                >
                                    Name <span style="color: #f44336">*</span>
                                </label>
                                <div class="w-100">
                                    <input
                                    type="text"
                                    class="form-control bg-light"
                                    id="form-test-plan-name"
                                    placeholder="Release Name *"
                                    style="color: #757575"
                                    required
                                    />
                                    <div class="invalid-feedback">
                                    Please Enter Release Name.
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col">
                                        <label for="fStartDate">From: </label>
                                        <input
                                        class="form-control bg-light"
                                        id="fStartDate"
                                        name="start-date"
                                        type="date"
                                        />
                                    </div>
                                    <div class="col">
                                        <label for="fEndDate">To: </label>
                                        <input
                                        class="form-control bg-light"
                                        id="fEndDate"
                                        name="end-date"
                                        type="date"
                                        />
                                    </div>
                                </div>
                                
                            </div>
                            <div class="my-2">
                                <label for="">Attachments</label>
                                <div
                                  class="upload-file my-2 d-flex justify-content-center"
                                  style="border: dashed 1px #dc3545 !important"
                                >
                                  <div
                                    class="mt-0 col-4 d-flex justify-content-center me-2"
                                  >
                                    <img
                                      src="../assets/images/import_file.svg"
                                      alt="Import Files"
                                      style="width: 80px"
                                    />
                                  </div>
                                  <div class="col-4 py-3">
                                    <div
                                      class="d-block text-center align-items-center"
                                      style="width: 80%"
                                    >
                                      <button
                                        type="button"
                                        class="btn btn-outline-danger mb-2 w-100"
                                      >
                                        Drop Files
                                      </button>
                                      <p class="mt-2 fs-6" style="color: #999">
                                        Drop files here
                                      </p>
                                    </div>
                                  </div>
                                </div>
                                <p class=" small">
                                  File size should be less than 2MB and allowed
                                  formats are
                                  <strong
                                    >.xls, .xlsx, .doc, .docx, .txt, .pdf, .csv,
                                    .log, .zip, .mp4, .webm, .ipynb, .odf, .gif,
                                    .png, .jpg, .ppt, .pptx, .mov</strong
                                  >
                                </p>
                              </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger mx-2">
                                Save
                              </button>
                              <button
                                type="button"
                                class="btn btn-outline-danger mx-2"
                                data-bs-dismiss="modal"
                              >
                                Cancel
                              </button>
                        </div>
                      </div>
                    </div>
                  </div>
              </form>

              <div class="btn-show-archived">
                <button class="btn btn-outline-danger" onclick="showArchived()">
                  <i class="bi bi-eye"></i> Show archived
                </button>
              </div>
            </div>
          </div>
        </div>

        <div
          class="container my-3 py-2 px-3 bg-white rounded border-start border-4 border-dark"
          id="tip-bar"
        >
          <b>Releases:</b> You can maintain the version of product/sprint cycles
        </div>

        <div class="container p-0">
          <div class="container-fluid h-100 p-0" id="cards-area">
            <div class="container-fluid rounded bg-white">
              <div class="row ms-3 mt-3 pb-1 border-bottom border-dark-subtle">
                <div class="col-sm-4">
                  <ul class="nav nav-underline" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button
                        class="nav-link sub-tab active"
                        id="open-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#open"
                        type="button"
                        role="tab"
                        aria-controls="open"
                        aria-selected="true"
                      >
                        Open
                      </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button
                        class="nav-link sub-tab"
                        id="upcoming-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#upcoming"
                        type="button"
                        role="tab"
                        aria-controls="upcoming"
                        aria-selected="false"
                      >
                        Upcoming
                      </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button
                        class="nav-link sub-tab"
                        id="completed-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#completed"
                        type="button"
                        role="tab"
                        aria-controls="completed"
                        aria-selected="false"
                      >
                        Completed
                      </button>
                    </li>
                  </ul>
                </div>

                <div
                  class="col-md-8 d-flex flex-row align-items-center justify-content-center"
                >
                  <div class="d-flex flex-row justify-content-between w-75">
                    <li style="color: blue">
                      <span id="no-of-open">3</span>
                      <span>open release(s)</span>
                    </li>
                    <li style="color: brown">
                      <span id="no-of-upcoming">2</span>
                      <span>upcoming release(s)</span>
                    </li>
                    <li style="color: blue">
                      <span id="no-of-completed">4</span>
                      <span>completed release(s)</span>
                    </li>
                  </div>
                </div>
              </div>

              <div class="tab-content mt-4 p-5">
                <div
                  class="tab-pane active"
                  id="open"
                  role="tabpanel"
                  aria-labelledby="open-tab"
                >
                  <div class="grid-wrapper">
                    <div
                      class="container rounded release-card bg-danger text-bg-danger p-2"
                    >
                      <div class="row">
                        <div class="col-sm-9">
                          <a href="#">
                            <div class="container release-card-name">
                              <h4>Version 1.2.3</h4>
                            </div>
                          </a>

                          <div class="container release-card-info">
                            <div
                              class="container release-card-info-key d-flex flex-row"
                            >
                              Release key:
                              <div
                                class="rounded d-inline-block bg-light text-bg-light w-auto px-3 ms-2"
                              >
                                K-2
                              </div>
                            </div>

                            <div class="container release-card-info-due">
                              <div>Start date: Not Set</div>

                              <div>Release date: Not Set</div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div
                          class="container release-card-toolbar d-flex justify-content-end"
                        >
                          <button class="btn btn-outline-light me-1">
                            <i class="bi bi-pencil"></i>
                          </button>
                          <button class="btn btn-outline-light me-1">
                            <i class="bi bi-archive"></i>
                          </button>
                          <button class="btn btn-outline-light me-1">
                            <i class="bi bi-trash"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div
                      class="container rounded release-card bg-danger text-bg-danger p-2"
                    >
                      <div class="row">
                        <div class="col-sm-9">
                          <a href="#">
                            <div class="container release-card-name">
                              <h4>Version 1.2.3</h4>
                            </div>
                          </a>

                          <div class="container release-card-info">
                            <div
                              class="container release-card-info-key d-flex flex-row"
                            >
                              Release key:
                              <div
                                class="rounded d-inline-block bg-light text-bg-light w-auto px-3 ms-2"
                              >
                                K-2
                              </div>
                            </div>

                            <div class="container release-card-info-due">
                              <div>Start date: Not Set</div>

                              <div>Release date: Not Set</div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div
                          class="container release-card-toolbar d-flex justify-content-end"
                        >
                          <button class="btn btn-outline-light me-1">
                            <i class="bi bi-pencil"></i>
                          </button>
                          <button class="btn btn-outline-light me-1">
                            <i class="bi bi-archive"></i>
                          </button>
                          <button class="btn btn-outline-light me-1">
                            <i class="bi bi-trash"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div
                      class="container rounded release-card bg-danger text-bg-danger p-2"
                    >
                      <div class="row">
                        <div class="col-sm-9">
                          <a href="#">
                            <div class="container release-card-name">
                              <h4>Version 1.2.3</h4>
                            </div>
                          </a>

                          <div class="container release-card-info">
                            <div
                              class="container release-card-info-key d-flex flex-row"
                            >
                              Release key:
                              <div
                                class="rounded d-inline-block bg-light text-bg-light w-auto px-3 ms-2"
                              >
                                K-2
                              </div>
                            </div>

                            <div class="container release-card-info-due">
                              <div>Start date: Not Set</div>

                              <div>Release date: Not Set</div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div
                          class="container release-card-toolbar d-flex justify-content-end"
                        >
                          <button class="btn btn-outline-light me-1">
                            <i class="bi bi-pencil"></i>
                          </button>
                          <button class="btn btn-outline-light me-1">
                            <i class="bi bi-archive"></i>
                          </button>
                          <button class="btn btn-outline-light me-1">
                            <i class="bi bi-trash"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="tab-pane"
                  id="upcoming"
                  role="tabpanel"
                  aria-labelledby="upcoming-tab"
                >
                  <div class="grid-wrapper">
                    <div
                      class="container rounded release-card bg-danger text-bg-danger p-2"
                    >
                      <div class="row">
                        <div class="col-sm-9">
                          <a href="#">
                            <div class="container release-card-name">
                              <h4>Version 4.5.6</h4>
                            </div>
                          </a>

                          <div class="container release-card-info">
                            <div
                              class="container release-card-info-key d-flex flex-row"
                            >
                              Release key:
                              <div
                                class="rounded d-inline-block bg-light text-bg-light w-auto px-3 ms-2"
                              >
                                K-2
                              </div>
                            </div>

                            <div class="container release-card-info-due">
                              <div>Start date: Not Set</div>

                              <div>Release date: Not Set</div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div
                          class="container release-card-toolbar d-flex justify-content-end"
                        >
                          <button class="btn btn-outline-light me-1">
                            <i class="bi bi-pencil"></i>
                          </button>
                          <button class="btn btn-outline-light me-1">
                            <i class="bi bi-archive"></i>
                          </button>
                          <button class="btn btn-outline-light me-1">
                            <i class="bi bi-trash"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div
                      class="container rounded release-card bg-danger text-bg-danger p-2"
                    >
                      <div class="row">
                        <div class="col-sm-9">
                          <a href="#">
                            <div class="container release-card-name">
                              <h4>Version 5.6.8</h4>
                            </div>
                          </a>

                          <div class="container release-card-info">
                            <div
                              class="container release-card-info-key d-flex flex-row"
                            >
                              Release key:
                              <div
                                class="rounded d-inline-block bg-light text-bg-light w-auto px-3 ms-2"
                              >
                                K-2
                              </div>
                            </div>

                            <div class="container release-card-info-due">
                              <div>Start date: Not Set</div>

                              <div>Release date: Not Set</div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div
                          class="container release-card-toolbar d-flex justify-content-end"
                        >
                          <button class="btn btn-outline-light me-1">
                            <i class="bi bi-pencil"></i>
                          </button>
                          <button class="btn btn-outline-light me-1">
                            <i class="bi bi-archive"></i>
                          </button>
                          <button class="btn btn-outline-light me-1">
                            <i class="bi bi-trash"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="tab-pane"
                  id="completed"
                  role="tabpanel"
                  aria-labelledby="completed-tab"
                >
                  <div class="grid-wrapper">
                    <div
                      class="container rounded release-card bg-danger text-bg-danger p-2"
                    >
                      <div class="row">
                        <div class="col-sm-9">
                          <a href="#">
                            <div class="container release-card-name">
                              <h4>Version 0.5</h4>
                            </div>
                          </a>

                          <div class="container release-card-info">
                            <div
                              class="container release-card-info-key d-flex flex-row"
                            >
                              Release key:
                              <div
                                class="rounded d-inline-block bg-light text-bg-light w-auto px-3 ms-2"
                              >
                                K-2
                              </div>
                            </div>

                            <div class="container release-card-info-due">
                              <div>Start date: Not Set</div>

                              <div>Release date: Not Set</div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div
                          class="container release-card-toolbar d-flex justify-content-end"
                        >
                          <button class="btn btn-outline-light me-1">
                            <i class="bi bi-pencil"></i>
                          </button>
                          <button class="btn btn-outline-light me-1">
                            <i class="bi bi-archive"></i>
                          </button>
                          <button class="btn btn-outline-light me-1">
                            <i class="bi bi-trash"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div
                      class="container rounded release-card bg-danger text-bg-danger p-2"
                    >
                      <div class="row">
                        <div class="col-sm-9">
                          <a href="#">
                            <div class="container release-card-name">
                              <h4>Version 0.8</h4>
                            </div>
                          </a>

                          <div class="container release-card-info">
                            <div
                              class="container release-card-info-key d-flex flex-row"
                            >
                              Release key:
                              <div
                                class="rounded d-inline-block bg-light text-bg-light w-auto px-3 ms-2"
                              >
                                K-2
                              </div>
                            </div>

                            <div class="container release-card-info-due">
                              <div>Start date: Not Set</div>

                              <div>Release date: Not Set</div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div
                          class="container release-card-toolbar d-flex justify-content-end"
                        >
                          <button class="btn btn-outline-light me-1">
                            <i class="bi bi-pencil"></i>
                          </button>
                          <button class="btn btn-outline-light me-1">
                            <i class="bi bi-archive"></i>
                          </button>
                          <button class="btn btn-outline-light me-1">
                            <i class="bi bi-trash"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div
                      class="container rounded release-card bg-danger text-bg-danger p-2"
                    >
                      <div class="row">
                        <div class="col-sm-9">
                          <a href="#">
                            <div class="container release-card-name">
                              <h4>Version 0.9.2</h4>
                            </div>
                          </a>

                          <div class="container release-card-info">
                            <div
                              class="container release-card-info-key d-flex flex-row"
                            >
                              Release key:
                              <div
                                class="rounded d-inline-block bg-light text-bg-light w-auto px-3 ms-2"
                              >
                                K-2
                              </div>
                            </div>

                            <div class="container release-card-info-due">
                              <div>Start date: Not Set</div>

                              <div>Release date: Not Set</div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div
                          class="container release-card-toolbar d-flex justify-content-end"
                        >
                          <button class="btn btn-outline-light me-1">
                            <i class="bi bi-pencil"></i>
                          </button>
                          <button class="btn btn-outline-light me-1">
                            <i class="bi bi-archive"></i>
                          </button>
                          <button class="btn btn-outline-light me-1">
                            <i class="bi bi-trash"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div
                      class="container rounded release-card bg-danger text-bg-danger p-2"
                    >
                      <div class="row">
                        <div class="col-sm-9">
                          <a href="#">
                            <div class="container release-card-name">
                              <h4>Version 0.10.13</h4>
                            </div>
                          </a>

                          <div class="container release-card-info">
                            <div
                              class="container release-card-info-key d-flex flex-row"
                            >
                              Release key:
                              <div
                                class="rounded d-inline-block bg-light text-bg-light w-auto px-3 ms-2"
                              >
                                K-2
                              </div>
                            </div>

                            <div class="container release-card-info-due">
                              <div>Start date: Not Set</div>

                              <div>Release date: Not Set</div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div
                          class="container release-card-toolbar d-flex justify-content-end"
                        >
                          <button class="btn btn-outline-light me-1">
                            <i class="bi bi-pencil"></i>
                          </button>
                          <button class="btn btn-outline-light me-1">
                            <i class="bi bi-archive"></i>
                          </button>
                          <button class="btn btn-outline-light me-1">
                            <i class="bi bi-trash"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
